body {
    background-color: #E3E8ED;
}

input, textarea {
    display: block;
}

h3 {
    background-color: #738CA6;
    width: 120px;
    height: 40px;
    color: #F1F3F6;
    text-align: center;
    line-height: 40px;
    font-weight: normal;
    margin: 0 10px 0 10px;
    font-size: 20px;
    display: inline-block;
}

span {
    background-color: #738CA6;
    width: 80px;
    height: 30px;
    color: #F1F3F6;
    text-align: center;
    line-height: 30px;
    font-weight: normal;
    margin: 10px 0 0 0;
    display: inline-block;
}

h3:hover, span:hover {
    cursor: pointer;
    background-color: #4A6B8A;
}

.h3__current, .span__current {
    background-color: #ABBAC9;
    pointer-events: none;
}

input {
    border: none;
    height: 20px;
}

textarea {
    border: none;
}

.not_filled {
    background-color: #ebabab;
}

#wrap {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    z-index: 1;
}

#popup {
    width: 300px;
    background-color: white;
    margin: auto;
    padding: 10px;
}