@font-face {
    font-family: "Oswald Light";
    src: url(../fonts/Oswald/Oswald-Light.ttf);
}

@font-face {
    font-family: "Oswald Regular";
    src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

@font-face {
    font-family: "Roboto Light";
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "Roboto Regular";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto Italic";
    src: url(../fonts/Roboto/RobotoCondensed-LightItalic.ttf);
}